@import "../../../index";
@import "../../../global/reset";
@import "../../../global/mobile.media";

@keyframes fadeInLeft {
  0%{
    left: 0;
  }
  50%{
    left:-100%
  }
  100%{
    left: 0;
  }
}

.btn{
  position: relative;
  box-sizing: border-box;
  border-radius: 3px;
  display: block;
  padding: 8px 10px;
  width: 200px;
  overflow: hidden;
  &::before{
    z-index: -1;
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(30deg,#fff,red);
  }
  &:hover::before{
    animation: fadeInLeft 1500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

  }

}

.btn2{
  margin-top: 20px;
  display: block;
  padding: 8px 10px;
  width: 200px;
  //border:1px solid red;
  //background-color: #00e2ff;
  @include bg-wave-single(#fff,#00e2ff,600px,-200px,5px);
}